@use "./variables" as *;
@use "./mixins" as *;

.contact-section {
    scroll-margin-top: 40px;
}

.contact-form {

    .form-inputs {
        @include breakpoint(largeScreen) {
            display: flex;
        }
    }

    fieldset {
        border: none;

        @include breakpoint(mediumScreen) {}

        @include breakpoint(largeScreen) {
            width: 40%;
        }
    }

    input,
    textarea {
        width: 100%;
        background-color: $accentColourActive;
        border: 1px solid $accentColour;
        padding: .3em .5em;
        margin-bottom: 20px;

        &:focus {
            outline: 2px solid $accentColour;
        }
    }

    input {
        max-width: 325px;

        // @include breakpoint(smallScreen) {
        //     max-width: 350px;
        // }
        &[name="name"] {
            margin-right: 1em;
        }

        @include breakpoint(mediumScreen) {
            width: 40%;
        }

        @include breakpoint(largeScreen) {
            width: 90%;
        }
    }

    textarea {
        resize: none;
        height: 10em;
        @include breakpoint(largeScreen){
            width: 60%;
        }
    }

    button {
        display: block;
        width: 75px;
        margin: 2em auto 0;
    }
}