@use "./variables" as *;
@use "./mixins" as *;

.project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    height: min-content;
    margin: 0 0 60px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &.active-fade-in {
        animation: 1s fade-in-bottom forwards;
    }

    @include breakpoint(mediumScreen) {
        align-items: center;
    }

    &:nth-of-type(2n) {
        .project-content {
            @include breakpoint(mediumScreen) {
                grid-area: 1/1/-1/9;
                text-align: left;
            }

            @include breakpoint(largeScreen) {
                grid-area: 1/1/-1/7;
            }

            .project-tech-list {
                li:first-of-type {
                    margin-left: 0;
                }
            }
        }

        .project-image {
            @include breakpoint(mediumScreen) {
                grid-area: 1/7/-1/-1;
            }
        }
    }
}

.project-content {
    color: $slateLight;
    grid-area: 1/1/-1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba($color: $accentColour, $alpha: .1), rgba($color: $accentColour, $alpha: .1)), rgba($color: $navy, $alpha: .9);
    border-radius: $borderRadius;
    border: 1px solid $accentColour;
    padding: 40px;
    transition: $transition;

    @include breakpoint(mediumScreen) {
        grid-area: 1/5/-1/-1;
        text-align: right;
        background: transparent;
        border: none;
        padding: 0;

        .project-description {
            background-color: rgba($color: $navyLight , $alpha: .95);
            padding: 20px;
            border-radius: $borderRadius;
        }

        h3 {
            margin: 10px 0;
        }

        p {
            margin-top: 10px;
        }
    }

    @include breakpoint(largeScreen) {
        grid-area: 1/7/-1/-1;
    }
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    li {
        margin: 0 20px 0 0;

        @include breakpoint(mediumScreen) {
            margin: 0 0 0 20px;

            &:first-of-type {
                margin-left: auto;
            }
        }
    }
}

.project-links {
    margin-left: -10px;

    @include breakpoint(mediumScreen) {
        margin-right: -10px;
    }

    a {
        padding: 10px;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

.project-image {
    grid-area: 1/1/-1/-1;
    z-index: -1;
    background: linear-gradient(rgba($color: $accentColour, $alpha: .1), rgba($color: $accentColour, $alpha: .1)), rgba($color: $navy, $alpha: .9);

    &:hover {
        z-index: 0;
    }

    @include breakpoint(mediumScreen) {
        grid-area: 1/1/-1/8;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        background-color: $accentColour;
        border: 1px solid $accentColour;
        border-radius: $borderRadius;
        overflow: hidden;
        transition: $transition;

        @include breakpoint(mediumScreen) {
            &:hover {
                background-color: transparent;

                img {
                    filter: none;
                    mix-blend-mode: normal;
                }
            }

        }
    }

    .image-container {
        height: 100%;

        @include breakpoint(mediumScreen) {
            height: auto;
        }
    }

    img {
        filter: blur(1px);
        height: 100%;
        object-fit: cover;
        transition: $transition;

        @include breakpoint(mediumScreen) {
            mix-blend-mode: multiply;
            filter: grayscale(10) contrast(.9) brightness(.8);
        }
    }
}