@use "./variables" as *;
@use "./mixins" as *;


.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;

    .skill {
        flex: 1 0 120px;
        max-width: 150px;
        margin: 10px;
        background-color: $accentColourActive;

        &.active-fade-in {
            animation: 1s fade-in-bottom forwards;
        }
    }

    figure {
        display: flex;
        flex-direction: column;
        border: 1px solid $accentColour;
        border-radius: $borderRadius;
        height: 100%;
        padding: .5em;

        img {
            width: 75%;
            margin: 0 auto;
        }

        figcaption {
            margin-top: auto;
            text-align: center;
        }
    }
}