@use "./variables" as *;
@use "./mixins" as *;

//Base Font Size

html {
    font-size: 125%; //1 Rem = 20px
}

// Font Styles

// Usage:
//@include font-setup(family, size, weight, color, line height, letter-spacing, text-transform, text-align)

.skip-link {
    @include font-setup($secondaryFont, $minimumFontSize, 400);
}

body {
    @include font-setup($primaryFont, $minimumFontSize, 400, $slate);

    @include breakpoint(smallScreen) {
        font-size: $baseFontSize;
    }
}

.main-nav {
    @include font-setup($secondaryFont, 0.7rem, 400, $slateLightest, null, null, capitalize);
}

.side-bar-menu {
    font-size: clamp(0.7rem, 4vw, $minimumFontSize);
}

// .social-side-bar {
//     @include font-setup()
// }

h1 span {
    @include font-setup($secondaryFont, clamp(.7rem, 5vw, .8rem), 400, $accentColour, null, 0px)
}

h1 {
    @include font-setup($primaryFont, clamp(2rem, 8vw, 4rem), 600, $slateLightest, 1.1, 1px);
}

.hero p {
    @include font-setup($primaryFont, clamp(2rem, 8vw, 4rem), 600, null, null, .5px);
}

h2 {
    @include font-setup($primaryFont, clamp(1.3rem, 5vw, 1.6rem), 600, $slateLightest, null, .5px, capitalize);

    &.section-heading {
        display: flex;
        text-align: left;
        white-space: nowrap;
        margin-bottom: 40px;

        &::after {
            content: "";
            display: block;
            background-color: $navyLightest;
            width: 100%;
            height: 1px;
            margin-top: .4em;
            margin-left: .5em;
        }
    }
}

h3 {
    @include font-setup($primaryFont, clamp(1.2rem, 5vw, 1.4rem), 600, $slateLightest, null, null, capitalize)
}

figcaption {
    @include font-setup($secondaryFont, .8rem, 400)
}

.project-tech-list {
    @include font-setup($secondaryFont, .65rem, 400)
}

input,
textarea {
    @include font-setup($secondaryFont, .8rem, 400, $accentColour);
}

button {
    @include font-setup($secondaryFont, .7rem, 400, $slateLightest);
    background-color: transparent;
    border: 1px solid $accentColour;
    border-radius: $borderRadius;
    padding: 10px;
    transition: $transition;

    &:hover,
    &:focus-visible {
        color: $accentColour;
        background-color: $accentColourActive;
    }

    &:active {
        color: $navy;
        background-color: $accentColour;
    }
}