@font-face {
  font-family: Calibre;
  src: url("../assets/fonts/Calibre-Regular.woff2") format("woff2"), url("../assets/fonts/Calibre-Regular.woff") format("woff"), url("../assets/fonts/Calibre-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Calibre;
  src: url("../assets/fonts/Calibre-Medium.woff2") format("woff2"), url("../assets/fonts/Calibre-Medium.woff") format("woff"), url("../assets/fonts/Calibre-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Calibre;
  src: url("../assets/fonts/Calibre-Semibold.woff2") format("woff2"), url("../assets/fonts/Calibre-Semibold.woff") format("woff"), url("../assets/fonts/Calibre-Semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "SF Mono Regular";
  src: url("../assets/fonts/SFMono-Regular.woff2") format("woff2"), url("../assets/fonts/SFMono-Regular.woff") format("woff"), url("../assets/fonts/SFMono-Regular.ttf") format("truetype");
  font-weight: 400;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.skip-link {
  font-family: "SF Mono Regular", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.9rem;
  font-weight: 400;
}

body {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #8892b0;
}
@media only screen and (min-width: 576px) {
  body {
    font-size: 1rem;
  }
}

.main-nav {
  font-family: "SF Mono Regular", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.7rem;
  font-weight: 400;
  color: #ccd6f6;
  text-transform: capitalize;
}

.side-bar-menu {
  font-size: clamp(0.7rem, 4vw, 0.9rem);
}

h1 span {
  font-family: "SF Mono Regular", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: clamp(0.7rem, 5vw, 0.8rem);
  font-weight: 400;
  color: #64ffda;
  letter-spacing: 0px;
}

h1 {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: clamp(2rem, 8vw, 4rem);
  font-weight: 600;
  color: #ccd6f6;
  line-height: 1.1;
  letter-spacing: 1px;
}

.hero p {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: clamp(2rem, 8vw, 4rem);
  font-weight: 600;
  letter-spacing: 0.5px;
}

h2 {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: clamp(1.3rem, 5vw, 1.6rem);
  font-weight: 600;
  color: #ccd6f6;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
h2.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 40px;
}
h2.section-heading::after {
  content: "";
  display: block;
  background-color: #233554;
  width: 100%;
  height: 1px;
  margin-top: 0.4em;
  margin-left: 0.5em;
}

h3 {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  font-weight: 600;
  color: #ccd6f6;
  text-transform: capitalize;
  text-shadow: 1px 1px black;
}

figcaption {
  font-family: "SF Mono Regular", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.8rem;
  font-weight: 400;
}

.project-tech-list {
  font-family: "SF Mono Regular", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.65rem;
  font-weight: 400;
}

input,
textarea {
  font-family: "SF Mono Regular", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.8rem;
  font-weight: 400;
  color: #64ffda;
}

button:not(.ham-btn) {
  font-family: "SF Mono Regular", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.7rem;
  font-weight: 400;
  color: #ccd6f6;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 1.25em 1.75em;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
button:not(.ham-btn):hover, button:not(.ham-btn):focus-visible {
  color: #64ffda;
  background-color: #123040;
}
button:not(.ham-btn):active {
  color: #0a192f;
  background-color: #64ffda;
}

footer {
  font-family: "SF Mono Regular", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.65rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul,
li,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover,
a:focus {
  color: #64ffda;
  outline: none;
}

a.hover-underline {
  position: relative;
  color: #64ffda;
}
a.hover-underline::after {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  background-color: #64ffda;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
a.hover-underline:hover::after, a.hover-underline:focus-visible::after {
  width: 100%;
}

button {
  cursor: pointer;
}

html {
  scrollbar-color: #8892b0 #0a192f;
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 80%;
  }
}

section {
  scroll-margin-top: 40px;
  padding: 60px 0;
}

::-moz-selection {
  background-color: #233554;
  color: #ccd6f6;
}

::selection {
  background-color: #233554;
  color: #ccd6f6;
}

.skip-link {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 50%;
  color: #0a192f;
  background-color: #64ffda;
  border-radius: 4px;
  padding: 1em;
  -webkit-transform: translate3d(-50%, -100%, 0);
          transform: translate3d(-50%, -100%, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.skip-link:focus {
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  outline: none;
  color: #0a192f;
}

body.active-side-bar {
  overflow: hidden;
}

.content-container.active-side-bar {
  -webkit-filter: blur(5px) brightness(0.7);
          filter: blur(5px) brightness(0.7);
  pointer-events: none;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  padding: 0 25px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media only screen and (min-width: 768px) {
  .main-nav {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 992px) {
  .main-nav {
    padding: 0 50px;
  }
}

.logo-container {
  padding: 9px;
}
.logo-container:focus-within {
  outline: 1px dashed #64ffda;
}
.logo-container a {
  display: block;
  width: 42px;
}

.desktop-nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .desktop-nav {
    display: block;
  }
}
.desktop-nav .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.desktop-nav .menu-list li {
  margin: 0 5px;
}
.desktop-nav .menu-list a {
  padding: 10px;
}

.resume-link {
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  margin-left: 15px;
}
.resume-link:hover, .resume-link:focus {
  background-color: #123040;
}
.resume-link:active {
  color: #0a192f;
  background-color: #64ffda;
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav .btn-container {
  position: relative;
  z-index: 12;
}

.ham-box {
  position: relative;
  width: 30px;
  height: 30px;
}

.ham-box-inner {
  position: absolute;
  top: 50%;
  background-color: #64ffda;
  border-radius: 4px;
  width: 100%;
  height: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.ham-box-inner::before, .ham-box-inner::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #64ffda;
  border-radius: 4px;
  height: 2px;
}
.ham-box-inner::before {
  width: 120%;
  top: -10px;
  right: 0;
  -webkit-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.ham-box-inner::after {
  bottom: -10px;
  width: 80%;
  right: 0;
  -webkit-transition: bottom 0.1s ease-in 0.25s, width 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, width 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, width 0.1s ease-out, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s, width 0.1s ease-out, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.ham-btn {
  background-color: transparent;
  border: none;
  padding: 15px;
}
.ham-btn:focus-visible {
  outline: 1px dashed #64ffda;
}
.ham-btn.active-side-bar .ham-box-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
.ham-btn.active-side-bar .ham-box-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
}
.ham-btn.active-side-bar .ham-box-inner::after {
  bottom: 0;
  width: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, width 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, width 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, width 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, width 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.side-bar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 11;
  width: min(70vw, 400px);
  min-height: 100vh;
  background-color: #112240;
  -webkit-box-shadow: -10px 0px 30px -15px #020c1b;
          box-shadow: -10px 0px 30px -15px #020c1b;
  padding: 2em;
  visibility: hidden;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.side-bar-menu.active-side-bar {
  right: 0;
  visibility: visible;
}
.side-bar-menu .menu-list {
  text-align: center;
}
.side-bar-menu .menu-list li {
  margin-bottom: 3em;
}
.side-bar-menu .resume-link {
  margin: 3em 0 0;
}

.social-side-bar {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 0;
  width: 10vw;
}
@media only screen and (min-width: 768px) {
  .social-side-bar {
    display: block;
  }
}
.social-side-bar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.social-side-bar li:first-child:before {
  content: "";
  display: block;
  position: absolute;
  top: -170px;
  left: 50%;
  background-color: #64ffda;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 150px;
}
.social-side-bar a {
  padding: 10px;
}
.social-side-bar a:hover {
  color: #64ffda;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.social-side-bar svg {
  width: 20px;
  height: 20px;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
  padding: 0;
}
.hero h1 {
  margin: 0 0 10px 0;
}
.hero h1 span {
  display: block;
  margin: 0px 0px 20px 2px;
}
.hero p {
  margin: 0;
}

.about-section .content {
  max-width: 570px;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px;
}
.skills-container .skill {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 120px;
          flex: 1 0 120px;
  max-width: 150px;
  margin: 10px;
  background-color: #123040;
}
.skills-container .skill.active-fade-in {
  -webkit-animation: 1s fade-in-bottom forwards;
          animation: 1s fade-in-bottom forwards;
}
.skills-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #64ffda;
  border-radius: 4px;
  height: 100%;
  padding: 0.5em;
}
.skills-container figure img {
  width: 75%;
  margin: 0 auto;
}
.skills-container figure figcaption {
  margin-top: auto;
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  margin: 0 0 60px;
}
.project:last-of-type {
  margin-bottom: 0;
}
.project.active-fade-in {
  -webkit-animation: 1s fade-in-bottom forwards;
          animation: 1s fade-in-bottom forwards;
}
@media only screen and (min-width: 768px) {
  .project {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .project:nth-of-type(2n) .project-content {
    grid-area: 1/1/-1/9;
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .project:nth-of-type(2n) .project-content {
    grid-area: 1/1/-1/7;
  }
}
.project:nth-of-type(2n) .project-content .project-tech-list li:first-of-type {
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .project:nth-of-type(2n) .project-image {
    grid-area: 1/7/-1/-1;
  }
}

.project-content {
  color: #a8b2d1;
  grid-area: 1/1/-1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 255, 218, 0.1)), to(rgba(100, 255, 218, 0.1))), rgba(10, 25, 47, 0.9);
  background: linear-gradient(rgba(100, 255, 218, 0.1), rgba(100, 255, 218, 0.1)), rgba(10, 25, 47, 0.9);
  border-radius: 4px;
  border: 1px solid #64ffda;
  padding: 40px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media only screen and (min-width: 768px) {
  .project-content {
    grid-area: 1/5/-1/-1;
    text-align: right;
    background: transparent;
    border: none;
    padding: 0;
  }
  .project-content .project-description {
    background-color: rgba(17, 34, 64, 0.95);
    padding: 20px;
    border-radius: 4px;
  }
  .project-content h3 {
    margin: 10px 0;
  }
  .project-content p {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .project-content {
    grid-area: 1/7/-1/-1;
  }
}

.project-tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}
.project-tech-list li {
  margin: 0 20px 0 0;
}
@media only screen and (min-width: 768px) {
  .project-tech-list li {
    margin: 0 0 0 20px;
  }
  .project-tech-list li:first-of-type {
    margin-left: auto;
  }
}

.project-links {
  margin-left: -10px;
}
@media only screen and (min-width: 768px) {
  .project-links {
    margin-right: -10px;
  }
}
.project-links a {
  padding: 10px;
}
.project-links svg {
  width: 20px;
  height: 20px;
}

.project-image {
  grid-area: 1/1/-1/-1;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 255, 218, 0.1)), to(rgba(100, 255, 218, 0.1))), rgba(10, 25, 47, 0.9);
  background: linear-gradient(rgba(100, 255, 218, 0.1), rgba(100, 255, 218, 0.1)), rgba(10, 25, 47, 0.9);
}
.project-image:hover {
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .project-image {
    grid-area: 1/1/-1/8;
  }
}
.project-image a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  border: 1px solid #64ffda;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media only screen and (min-width: 768px) {
  .project-image a:hover {
    background-color: transparent;
  }
  .project-image a:hover img {
    -webkit-filter: none;
            filter: none;
    mix-blend-mode: normal;
  }
}
.project-image .image-container {
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .project-image .image-container {
    height: auto;
  }
}
.project-image img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media only screen and (min-width: 768px) {
  .project-image img {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(10) contrast(0.9) brightness(0.8);
            filter: grayscale(10) contrast(0.9) brightness(0.8);
  }
}

@media only screen and (min-width: 992px) {
  .contact-form .form-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contact-form fieldset {
  border: none;
}
@media only screen and (min-width: 992px) {
  .contact-form fieldset {
    width: 40%;
  }
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: #123040;
  border: 1px solid #64ffda;
  padding: 0.3em 0.5em;
  margin-bottom: 20px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #64ffda;
}
.contact-form input {
  max-width: 390px;
}
.contact-form input[name=name] {
  margin-right: 1em;
}
@media only screen and (min-width: 576px) {
  .contact-form input {
    max-width: 350px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-form input {
    width: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .contact-form input {
    width: 90%;
  }
}
.contact-form textarea {
  resize: none;
  height: 10em;
}
@media only screen and (min-width: 992px) {
  .contact-form textarea {
    width: 60%;
  }
}
.contact-form button {
  display: block;
  margin: 2em auto 0;
}

footer {
  padding: 1em;
  border-top: 1px solid #233554;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  footer ul {
    display: none;
  }
}
footer svg {
  width: 20px;
  height: 20px;
}
footer p {
  text-align: center;
}
footer img {
  display: inline-block;
  width: 1em;
  height: 1em;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}